@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--light-color-a: #a0acff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

::-webkit-scrollbar {
	width: 0.3rem;
}

::-webkit-scrollbar-thumb {
	background-color: #00000090;
	width: 0.1rem;
	border-radius: 1rem;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	/* background: var(--light-color); */
	background: #fde0ea;
	/* background: #000; */
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: #b7bffb;
	border: 0;
	font-size: 17px;
	text-align: center;
	border-radius: 5px;
	color: white;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}

img {
	width: 60px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 30px 60px 15px rgba(0, 0, 0, 0.55);
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
}

.chat-header .heading {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: xx-large;
	margin-right: 5px;
	margin-left: 5px;
}

.chat-header .logo {
	display: none;
}

.chat-header .btn {
	margin-left: auto;
	font-weight: bold;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
	max-height: 500px;
}

.chat-sidebar::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	width: 0.1rem;
	border-radius: 2rem;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar #room-name {
	border-radius: 8px;
}

.chat-sidebar #room-name:hover {
	background: var(--light-color-a);
}

.chat-sidebar ul li {
	padding: 10px 0;
	font-weight: bold;
	font-size: 0.9rem;
	letter-spacing: 0.5px;
	text-transform: capitalize;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #334eff;
	opacity: 0.7;
	margin-bottom: 7px;
	text-transform: capitalize;
}

.chat-messages .message .meta span {
	margin-left: 8px;
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	border-radius: 4px;
	border: none;
	margin-right: 4px;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}


/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	box-shadow: 0px 30px 60px 15px rgba(0, 0, 0, 0.55);
	border-radius: 10px;
	border-collapse: separate;
}

.join-header {
	display: flex;
	justify-content: center;
	align-items: center;
	/* text-align: center; */
	/* margin: auto; */
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.join-header .heading {
	margin-left: 8px;
	font-size: 40px;
}

.join-header .logo1 {
	width: 70px;
}

.join-main {
	padding: 30px 40px;
	/* background: var(--dark-color-b); */
	background: #ffffff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	color: #000;
	font-family: serif;
	font-size: large;
	font-weight: 530;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border-radius: 4px;
	border: none;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
	background: var(--dark-color-a);
	font-weight: bold;
}

/* .dark{}  */
@media (max-width: 400px) {
	.join-header .heading {
		margin-left: 8px;
		font-size: 30px;
	}

	.join-main {
		padding: 30px 30px;
	}

	.join-header {
		flex-direction: column;
	}
}

@media (max-width: 700px) {

	.join-container {
		max-width: 500px;
		margin: 50px auto;
		color: #fff;
		box-shadow: 0px 30px 60px 15px rgba(0, 0, 0, 0.55);
		border-radius: 10px;
		border-collapse: separate;
	}

	.chat-main {
		display: block;
		position: relative;
	}

	.chat-header .logo1 {
		display: none;
	}

	.chat-header .logo {
		display: block;
	}

	.chat-sidebar {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 10px 10px 30px;
		height: max-content;
		max-height: 200px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		box-shadow: 0px 15px 20px -20px rgba(0, 0, 0, 0.6);
	}

	.chat-sidebar h2 {
		font-size: 15px;
		background: rgba(0, 0, 0, 0.1);
		padding: 8px;
		margin-bottom: 10px;
	}

	.chat-sidebar h3 {
		font-size: 17px;
		margin-bottom: 10px;
	}

	.chat-sidebar #room-name {
		border-radius: 6px;
	}

	.chat-sidebar #room-name:hover {
		background: var(--light-color-a);
	}

	.chat-sidebar ul li {
		padding: 5px 0;
	}

}

@media (max-width: 425px) {
	.chat-header .heading {
		font-size: x-large;
	}
}

@media (max-width: 320px) {
	.chat-header .heading {
		font-size: large;
	}
}